.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f3f4f6;
  padding: 1rem;
}

/* 직계자손 있는거만 영향 */
.container > h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.container > section {
  display: flex;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
  gap: 1rem;
}

.container > section article:nth-of-type(2) {
  order: 1;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.resultDisplay {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  text-align: center;
}

.resetButton {
  padding: 0.5rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
  outline: none;
}

.resetButton:hover {
  background-color: white;
  color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.container > div {
  margin-top: 2rem;
  color: #4b5563;
  text-align: center;
}
